.light-medium-contrast {
  --md-sys-color-primary: rgb(0 62 57);
  --md-sys-color-surface-tint: rgb(0 106 99);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(27 122 114);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(63 54 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(123 109 31);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(67 52 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(130 106 28);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(93 36 23);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(161 89 72);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(253 249 236);
  --md-sys-color-on-surface: rgb(18 17 10);
  --md-sys-color-surface-variant: rgb(218 229 226);
  --md-sys-color-on-surface-variant: rgb(46 56 55);
  --md-sys-color-outline: rgb(75 84 83);
  --md-sys-color-outline-variant: rgb(101 111 109);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 49 40);
  --md-sys-color-inverse-on-surface: rgb(245 241 227);
  --md-sys-color-inverse-primary: rgb(129 213 203);
  --md-sys-color-primary-fixed: rgb(27 122 114);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 96 89);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(123 109 31);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(98 84 4);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(130 106 28);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(104 82 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(202 199 186);
  --md-sys-color-surface-bright: rgb(253 249 236);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 244 230);
  --md-sys-color-surface-container: rgb(236 232 219);
  --md-sys-color-surface-container-high: rgb(224 221 208);
  --md-sys-color-surface-container-highest: rgb(213 210 197);
}
