.light {
  --md-sys-color-primary: rgb(0 106 99);
  --md-sys-color-surface-tint: rgb(0 106 99);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(157 242 231);
  --md-sys-color-on-primary-container: rgb(0 80 74);
  --md-sys-color-secondary: rgb(108 94 16);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(246 227 136);
  --md-sys-color-on-secondary-container: rgb(82 70 0);
  --md-sys-color-tertiary: rgb(114 92 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 224 137);
  --md-sys-color-on-tertiary-container: rgb(87 69 0);
  --md-sys-color-error: rgb(144 75 59);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 210);
  --md-sys-color-on-error-container: rgb(115 52 38);
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(253 249 236);
  --md-sys-color-on-surface: rgb(28 28 20);
  --md-sys-color-surface-variant: rgb(218 229 226);
  --md-sys-color-on-surface-variant: rgb(63 73 71);
  --md-sys-color-outline: rgb(111 121 119);
  --md-sys-color-outline-variant: rgb(190 201 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 49 40);
  --md-sys-color-inverse-on-surface: rgb(245 241 227);
  --md-sys-color-inverse-primary: rgb(129 213 203);
  --md-sys-color-primary-fixed: rgb(157 242 231);
  --md-sys-color-on-primary-fixed: rgb(0 32 29);
  --md-sys-color-primary-fixed-dim: rgb(129 213 203);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 74);
  --md-sys-color-secondary-fixed: rgb(246 227 136);
  --md-sys-color-on-secondary-fixed: rgb(33 27 0);
  --md-sys-color-secondary-fixed-dim: rgb(217 199 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 70 0);
  --md-sys-color-tertiary-fixed: rgb(255 224 137);
  --md-sys-color-on-tertiary-fixed: rgb(36 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(226 196 109);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 69 0);
  --md-sys-color-surface-dim: rgb(222 218 205);
  --md-sys-color-surface-bright: rgb(253 249 236);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 244 230);
  --md-sys-color-surface-container: rgb(242 238 224);
  --md-sys-color-surface-container-high: rgb(236 232 219);
  --md-sys-color-surface-container-highest: rgb(230 226 213);
}
